<header style="text-align:center" Class= "header container">

  <div class="row">

    <div class="col-4 header_img">
        <img src="../assets/images/order.png" alt="OrderLogo" width="425" height="175"> 
    </div>

    <div class="col-6 title">
    </div>

    <div class="col-2">
      <nav>

        <div>
          <a routerLink="/Home">Home</a>
        </div>

        <div>
          <a routerLink="/ItemList">ItemList</a> 
        </div>

        <div>
          <a routerLink="/SingleItem">SingleItem</a>       
        </div>

      </nav>
    </div>

  </div>

</header>


<div class = "container allContent">  
  
    <router-outlet></router-outlet> 
  
</div>


<footer>
    <app-messages></app-messages>  
</footer>

