<!-- <a href="javascript:void(0)" (click)="staffModal.open()">Staff A</a><br />
  <a href="javascript:void(0)" (click)="staffModal.open()">Staff B</a><br />
  <a href="javascript:void(0)" (click)="staffModal.open()">Staff C</a><br />
  
  <ngx-smart-modal #staffModal target="#modal_root" identifier="staffModal" (onOpen)="popped=true" (onClose)="popped=false" >
    <div *ngIf="popped">
      <h1>Staff's detail</h1>
      <div>
        Staff's title <br />
        Staff's info A <br />
        Staff's info B <br />
        <hr />
        <app-department></app-department>
      </div>
    
      <button (click)="staffModal.close()">Close</button>
    </div>
  </ngx-smart-modal> -->