<div [@dialog] *ngIf="visible" class="dialog">
    <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
        
        
    <div class="row col-12 text-center">
        <h1>Details of customer</h1>
    </div>

    <div class="row col-12 ">
        <div class="col-4">
            <h3>id: </h3>
        </div> 
           
        <div class="col-8">
            <h5> {{value.id}} </h5>
        </div> 

        <div class="col-4">
                <h3>FirstName: </h3>
        </div>                
        <div class="col-8">
                <h5> {{value.firstName}} </h5>
        </div> 

        <div class="col-4">
                    <h3>LastName: </h3>
        </div>                    
        <div class="col-8">
                    <h5> {{value.LastName}} </h5>
        </div> 
    </div> 

         
       
</div>
    
<div *ngIf="visible" class="overlay" (click)="close()"></div>