
<div class="row titleSpace">

    <div class="col-12 text-center">
        <h2>My Items</h2>
    </div>
</div>
<div class="row titleSpace">
    <div class="col-3 text-right">
        <h3>filter: </h3>
    </div>

    <div class="col-3 text-left">
        <app-search  (value)="seachByTitle($event)"></app-search>   
      <!-- (searchTerm)="" -->
    </div>
    
    <div class="col-5 text-center">
        <button routerLink="/SingleItem" class="createNew btn-success">Create new Item</button>    
    </div>
    <div class="col-1"></div> 
</div>



<div class="row">
<div  class="text-center col-12">
  <span *ngFor="let item of itemsToPage  |paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
      <a routerLink="/SingleItem/{{item.id}}" class="btn cards_markup">
        <div class="card card_styling" >          
          <div class="card-body"> 
            <h5 class="titletext-card">{{item.name}}</h5>
            <p class="innertext-card">{{item.id}}</p>  
            <div class="image_card">
              <p class="innertext-card">Foto</p>   
            </div>
            <p class="footertext-card">{{item.price}}</p>                              
          </div>  
        </div>  
      </a>        
  </span>
</div>

</div>

<div class="text-center"> 
  <pagination-controls class="my-pagination" previousLabel=""  nextLabel="" (pageChange)="p = $event"></pagination-controls>
</div>


<!-- 
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateNewItem-Modal">Open Modal</button> -->
