<!-- <div class="row">
  <div  class="col-12">
    <h5>Give the Id of the item to view set item</h5>
    <app-item-search></app-item-search>
    <button>show item by id</button>
  </div>
</div> -->


<div *ngIf="((givenCustomer$) |async) as givenCustomer">
 
  <div class="row inputFields" >

     <div class="row form-group col-12 TitleField text-center">

      <ng-container *ngIf="(givenCustomer.id); then IDTitle;  else NewTitle;"></ng-container>       

      <ng-template #IDTitle>
        <div class="col-12">
          <h2>Currently viewing customer with id:</h2>
          <h5> {{givenCustomer.id}}</h5>
        </div>
      </ng-template>
      
      <ng-template #NewTitle>
        <div class="col-12">
          <h2>U can create a new customer here</h2>
        </div>
      </ng-template>

    </div> 



    <div class="row col-12" [formGroup]="customerForm">
        <input type="text" class="form-control" formControlName="id" hidden>

        <div class="col-1"></div>

        <div class="col-5">

          <div class="col-12 CustomerElement">
                <h5>FirstName: </h5>
                <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName">
          </div>   

          <div class="col-12 CustomerElement" formGroupName="email">
              <h5>Email: </h5>
              <input type="text" class="form-control" placeholder="LocalPart" formControlName="localPart">
              <input type="text" class="form-control" placeholder="Domain" formControlName="domain">
              <input type="email" class="form-control" placeholder="Complete" formControlName="complete">
          </div>

          <div class="col-12 CustomerElement" formGroupName="phoneNumber">
              <h5>Phonenumber: </h5>
              <input type="num" class="form-control" placeholder="PhoneNumber" formControlName="number">
              <input type="text" class="form-control" placeholder="CountryCallingCode" formControlName="countryCallingCode">
          </div>  

        </div>

        <div class="col-5">

            <div class="col-12 CustomerElement">
                <h5>LastName: </h5>
                <input type="text" class="form-control" placeholder="LastName" formControlName="lastName">
            </div>   

            <div class="col-12 CustomerElement" formGroupName="address">
                <h5>Address: </h5>
                <input type="text" class="form-control" placeholder="StreetName" formControlName="streetName">
                <input type="text" class="form-control" placeholder="HouseNumber" formControlName="houseNumber">
                <input type="text" class="form-control" placeholder="PostalCode"  formControlName="postalCode">
                <input type="text" class="form-control" placeholder="Country"  formControlName="country">
            </div>  
            <div class="col-12 formBtns">
              <ng-container *ngIf="(givenCustomer.id); then CreateNew; else UpdateExisting;"></ng-container>  
              
              <ng-template #CreateNew>
                  <div class="form-group col-12 text-center">  
                    <div>
                      <button class="add-item-button btn-success" (click)="update(customerForm.value)">
                        update
                      </button>
                      <button class="clear-item-button btn-danger" (click)="clear()">
                        clear
                      </button>
                    </div>  
                  </div>
                </ng-template>
          
                <ng-template #UpdateExisting>
                  <div class="form-group col-12 text-center">  
                    <div>
                      <button class="add-item-button btn-success" (click)="add(customerForm.value)">
                        add
                      </button>
                      <button class="clear-item-button btn-danger" (click)="clear()">
                        clear
                      </button>
                    </div>  
                  </div>
                </ng-template>
          </div>   

        </div>

        <div class="col-1"></div>

    </div>




      

    
  </div>
</div>

