.row{
    margin: 1em;
}
input{
    margin-top: 0.8em;
}
.CustomerElement{
    margin-top: 2em;
}


.add-item-button{
    margin-top:5em;
    margin-left: -7em;     
    width: 13em;
    height: 3em;
    margin-right: 0.2em
}
.clear-item-button{ 
    position: absolute;
    bottom: 0em;    
    width: 7em;
    height: 2em;  
}