.Field-container{
    border: 0.1em black solid;    
}
.add-item-button{
    margin-top:5em;
    margin-left: -10em;     
    width: 20em;
    height: 3em;
    margin-right: 0.2em
}
.clear-item-button{ 
    position: absolute;
    bottom: 0em;    
    width: 10em;
    height: 2em;  
}
.image_card > p {
    height: 18em;
    width: 14em;
    margin: auto;
    border: 0.2em black solid;
}
.TitleField{
    margin-bottom:4em; 
}